.mail-box {
	height: 300px;
	overflow-y: scroll;
	min-height: max-content;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px grey;
	border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #03A9F4;
	border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
	background: #b30000;
} */
.mail-box-detail {
	width: 80%;
	position: absolute;
	height: max-content;
	top: 100%;
	z-index: 11;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px
		16px rgba(0, 0, 0, 0.12);
	background-color: white;
	border-radius: 10px;
	display: none;
}

.close-popup {
	position: absolute;
	width: 25px;
	right: -10px;
	top: -10px;
	cursor: pointer;
}
/* overlay styles, all needed */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.name-title {
	background: #3393FF;
	border-radius: 5px 5px 0 0;
	padding: 1%;
	color: white;
	font-weight: 700;
	display: flex;
	align-items: center;
}

.feedback-item {
	cursor: pointer;
}

.info-feedback-items label {
	font-weight: 650;
}

.info-feedback-items {
	border: 1px solid #3393FF;
	padding: 1%;
	border-radius: 0 0 5px 5px;
}

.info-item {
	display: flex;
	justify-content: space-between;
}

.info-item>div {
	width: 50%;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 22px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 1px;
	bottom: 1px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(32px);
	-ms-transform: translateX(32px);
	transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.mode-display {
	display: flex;
	align-items: center;
}

.mode-display span {
	margin-right: 5px;
}

.mode-display label {
	margin-bottom: 0;
}

.user-name {
	width: 25% !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

.user-email {
	width: 25% !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

.user-number-phone {
	width: 20% !important;
}

.user-age, .user-number-article, .user-is-admin {
	width: 10% !important;
}

a {
	text-decoration: none;
}