<app-client-header></app-client-header>
<div class="container">
  <div class="row df-align-item-center">
    <div class="col-md-12 col-lg-8">
      <h4 class="p-title"><b>{{categoryByShortUrl?.name}}</b></h4>
      <div class="row">
        <div [routerLink]="['/article/' + article.url]" *ngFor="let article of listArticlesByCategory" class="article-container article col-sm-6">
          <img src="{{article.imgInstead}}" alt="">
          <h4 class="cl-058bff pt-20"><a class="article-title"><b>{{article.title}}</b></a></h4>
          <ul class="list-li-mr-20 pt-10 mb-30">
            <li class="cl-058bff">Tác giả <a class="color-black"><b>Thuỳ Dương,</b></a>
              {{article.createDate | date}}</li>
            <li class="cl-058bff"><i class="mr-5 font-12 ion-ios-bolt"></i>{{article.view}}</li>
            <li class="cl-058bff"><i class="mr-5 font-12 ion-chatbubbles"></i>{{article.comment}}</li>
          </ul>
        </div><!-- col-sm-6 -->
      </div><!-- row -->
<!--      <a (click)="loadMoreArticles()" class="load-more dplay-block btn-brdr-primary mt-20 mb-md-50"><b>Xem thêm bài viết</b></a>-->
    </div><!-- col-md-9 -->
    <div class="col-md-12 col-lg-4">
      <div class="pl-20 pl-md-0">
        <div>
          <h4 class="p-title"><b>Tin được đọc nhiều</b></h4>
          <a *ngFor="let article of listNewArticle" (click)="onViewArticleRelation(article.url)" class="article-container oflow-hidden pos-relative mb-20 dplay-block">
            <div class="wh-100x abs-tlr"><img src="{{article?.imgInstead}}" alt=""></div>
            <div class="ml-120 min-h-100x">
              <h5 class="article-title"><b>{{article?.title}}</b></h5>
              <h6 class="pt-10">Tác giả: <span><b>Thuỳ Dương,</b></span> {{article?.createDate | date: 'dd-MM-yyyy'}}</h6>
            </div>
          </a><!-- oflow-hidden -->
        </div><!-- mtb-50 -->

        <div class="article-container mtb-50 mb-md-0">
          <h4 class="p-title"><b>NEWSLETTER</b></h4>
          <p class="mb-20">Subscribe to our newsletter to get notification about new updates,
            information, discount, etc..</p>
          <form class="nwsltr-primary-1">
            <input type="text" placeholder="Your email"/>
            <button type="submit"><i class="ion-ios-paperplane"></i></button>
          </form>
        </div><!-- mtb-50 -->
      </div><!--  pl-20 -->
    </div><!-- col-md-3 -->
  </div>
</div>
<app-client-footer></app-client-footer>
<app-loading [loading]="loading"></app-loading>
