/* [1] The container */
.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  height: 100%;
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.article-container:hover img {
  transform: scale(1.2);
}

.view-more {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  a {
    display: flex;
    align-items: center;
    padding: 20px 100px;
  }
}

.category-name {
  padding: 5px 10px;
  background-color: #058bff;
  width: max-content;
  border-radius: 2px;
  margin-bottom: 5px;
  span {
    font-weight: 600;
    color: white;
  }
}

.c-name-new-article {
  position: relative;
  top: -40px;
  left: 10px;
}

.article-container {
  cursor: pointer;
  &:hover {
    color: #F9B500;
  }

  .article-title {
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

.article-top-title  {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
