a {
  cursor: pointer;
}

.menu-nav-icon {
  float: right;
  display: flex;
  .menu-swap-text {
    font-size: 15px;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 1190px) {
  .main-menu {
    margin-bottom: 2rem;
  }

  header ul.main-menu > li > a {
    line-height: 30px;
  }
}

@media only screen and (max-width: 757px) {
  .menu-nav-icon {
    display: flex;
  }
}

@media only screen and (min-width: 757px) {
  .menu-nav-icon {
    display: none;
  }
}
