<header>
  <div class="bg-191">
    <div class="container">
      <div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5">
        <ul class="float-left float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10">
          <li><a class="pl-0 pl-sm-10">Về chúng tôi</a></li>
          <li><a>Liên hệ</a></li>
        </ul>
        <ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
          <li><a class="pl-0 pl-sm-10"><i class="ion-social-facebook"></i></a></li>
          <li><a><i class="ion-social-twitter"></i></a></li>
          <li><a><i class="ion-social-google"></i></a></li>
          <li><a><i class="ion-social-instagram"></i></a></li>
          <li><a><i class="ion-social-bitcoin"></i></a></li>
        </ul>
      </div><!-- top-menu -->
    </div><!-- container -->
  </div><!-- bg-191 -->

  <div class="container">
    <a class="logo" [routerLink]="['/main']"><img src="assets/images/logo.gif" alt="Logo"></a>

<!--    <a (click)="showFormSearch = !showFormSearch" class="right-area src-btn">-->
<!--      <i class="active src-icn ion-search"></i>-->
<!--      <i class="close-icn ion-close"></i>-->
<!--    </a>-->
<!--    <div class="src-form" [class.active]="showFormSearch">-->
<!--        <input (change)="onValueChange($event)" type="text" placeholder="Search here">-->
<!--    </div>-->

    <a (click)="showMenuMobile = !showMenuMobile" class="menu-nav-icon" data-menu="#main-menu"><span class="menu-swap-text">Menu </span> <i class="ion-navicon"></i></a>

    <ul class="main-menu" [class.visible-menu]="showMenuMobile" id="main-menu">
      <li><a [routerLink]="['/']">Trang chủ</a></li>
      <li *ngFor="let category of categories"><a [routerLink]="['/main', category.shortUrl]">{{category.name}}</a></li>
    </ul>
    <div class="clearfix"></div>
  </div>
</header>
