.btn-submit-comment {
  margin-bottom: 2rem;
}

.s-right {
  background-color: #efefef;
  padding: 10px;
  border-radius: 10px;
}

.df-align-item-center {
  align-items: flex-start;
}

.article-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.article-container:hover {
  color: #F9B500;
}
