.btn-submit-comment {
  margin-bottom: 2rem;
}

.s-right {
  background-color: #efefef;
  padding: 10px;
  border-radius: 10px;
}

.df-align-item-center {
  align-items: flex-start;
}

.article-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.article-container:hover {
  color: #F9B500 !important;
}

.a-ads-container {
  height: 250px;
  margin-top: 20px;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
}

.ads-right {
  margin-top: unset !important;
}
